/* ----------AUTH---------*/
@import url('./styles/auth.css');

/* ----------LOADING---------*/
@import url('./styles/loading.css');

/* ----------HEADER---------*/
@import url('./styles/header.css');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -mozosx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#theme {
  display: none;
}

#theme:checked ~ .App {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.img {
  object-fit: cover;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
